# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Build output / cache
.vercel
dist/
build/
coverage/
